script(src='/js/familytree.js')

link(rel="icon" href="/favicon.png" type="image/x-icon")

#tree

script.

  var data = JSON.parse(!{JSON.stringify(json)});

  let family = new FamilyTree(document.getElementById("tree"), { 
    nodeBinding: {
      field_0: "name"
    },
    nodeTreeMenu: true,
  });

  family.onUpdateNode((args) => {
    fetch('/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(args)
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error(error));
  //return false; to cancel the operation
  });


  family.load(data)


